{:kotoba.lang.qualification.q3/version 1
 :profile :portable-safe-core
 :authority "kotoba-lang/kotoba-lang/lang/guest-grammar.edn"
 :positive
 [{:id :control-and-arithmetic
   :source "(defn main [] (let [x 4 y 5] (if (and (> y x) (not (= x 0))) (do (+ x y) (* x y)) 0)))"
   :result 20
   :effects #{}}
  {:id :reader-conditional
   :source "#?(:kotoba (defn main [] (+ 40 2)) :default (defn main [] 0))"
   :result 42
   :effects #{}}
  {:id :named-call-and-recursion
   :source "(defn sum [n acc] (if (= n 0) acc (sum (- n 1) (+ acc n)))) (defn main [] (sum 5 0))"
   :result 15
   :effects #{}}]
 :negative
 [{:id :ambient-require
   :source "(require 'ambient.escape) (defn main [] 0)"
   :class :ambient-authority}
  {:id :host-interop
   :source "(defn main [] (. System exit 0))"
   :class :host-interop}
  {:id :unknown-call
   :source "(defn main [] (mystery-operation 1))"
   :class :unknown-call}]}
