{:kotoba.package/name "kotoba-lang/empty-adapter"
 :kotoba.package/version "0.1.0"
 :kotoba.package/kind :adapter
 :kotoba.package/repo-rid "bafyrepoemptyadapter111111111111111111111111111111111111"
 :kotoba.package/source
 {:git-commit "0123456789abcdef0123456789abcdef01234567"
  :tree-cid "bafytreeemptyadapter111111111111111111111111111111111111"
  :manifest-cid "bafymanifestemptyadapter1111111111111111111111111111"}
 :kotoba.package/capabilities []
 :kotoba.package/provides [:app.kotoba.empty.adapter]
 :kotoba.package/consumes []
 :kotoba.package/signatures
 [{:did "did:key:z6Mkemptyadapter"
   :alg :ed25519
   :sig "sig-empty-adapter"}]}
