{:kotoba.package/name "kotoba-lang/bad-contract"
 :kotoba.package/version "0.1.0"
 :kotoba.package/kind :library
 :kotoba.package/repo-rid "bafyrepobadcontract111111111111111111111111111111111111"
 :kotoba.package/source
 {:git-commit "0123456789abcdef0123456789abcdef01234567"
  :tree-cid "bafytreebadcontract111111111111111111111111111111111111"
  :manifest-cid "bafymanifestbadcontract1111111111111111111111111111"}
 :kotoba.package/capabilities []
 :kotoba.package/provides ["app.kotoba.bad.contract"]
 :kotoba.package/signatures
 [{:did "did:key:z6Mkbadcontract"
   :alg :ed25519
   :sig "sig-bad-contract"}]}
