{:kotoba.package/name "kotoba-lang/bad-contract"
 :kotoba.package/version "0.1.0"
 :kotoba.package/kind :library
 :kotoba.package/repo-rid "bafyreiak7gojxwij65vjyxaduyb2owbnnuknygu3zidptm3mmaknne2tgq"
 :kotoba.package/source
 {:git-commit "0123456789abcdef0123456789abcdef01234567"
  :tree-cid "bafyreibgfbyqdt2ox5aozev3n4nrp3fnvuk5qxl3rwhpkey43jshcwv3fy"
  :manifest-cid "bafyreigx6sh6mwsewsrxelig4a2vauagronbobcwgzojc3kuoismwbpdqe"}
 :kotoba.package/capabilities []
 :kotoba.package/provides ["app.kotoba.bad.contract"]
 :kotoba.package/signatures
 [{:did "did:key:z6Mkbadcontract"
   :alg :ed25519
   :sig "sig-bad-contract"}]}
