{:kotoba.lock/version 1
 :deps
 [{:dep/name "kotoba-lang/guest-hello"
   :dep/version "0.1.0"
   :dep/kind :component
   :dep/repo-rid "bafyreiamqmkpfhh5noifwsn2jgnavzwpgmefv7orc6frbobfmhh2cear6y"
   :dep/ref "refs/tags/v0.1.0"
   :dep/commit "0123456789abcdef0123456789abcdef01234567"
   :dep/tree-cid "bafyreigyygk6epd5ge2akwuafpdjmztjc27v5pr7wpqnq37re7xhjwxsl4"
   :dep/manifest-cid "bafyreia4kejp3eqgyv3fbb6yrxkzemeqehopntqntvgkcq7maqltxrh57q"
   :dep/signers ["did:key:z6Mkpkgjson"]
   :dep/capabilities []
   :dep/build {:deterministic true}}]}
