{:kotoba.lock/version 1
 :deps
 [{:dep/name "kotoba-lang/math"
   :dep/version "0.1.0"
   :dep/repo-rid "bafyreifioprlpkodjtuiem3w7x3i4ordmgfb6lqqhb7ampigoatmwd2g2u"
   :dep/commit "0123456789abcdef0123456789abcdef01234567"
   :dep/tree-cid "bafyreiexhwzz2yskglefvifcywaijpy66ikn3grbvywrlcz5dxumdywfme"
   :dep/manifest-cid "bafyreif4x7tu3gsgcbrdjm6qdfqzuo3av2jim2v443rsqpbocdyh3pogdy"
   :dep/signers ["did:key:z6Mkmath"]
   :dep/capabilities []
   :dep/definition-cids ["not-a-cid"]}]}
