{:kotoba.lock/version 1
 :deps
 [{:dep/name "kotoba-lang/json"
   :dep/version "0.1.0"
   :dep/repo-rid "bafyreiamqmkpfhh5noifwsn2jgnavzwpgmefv7orc6frbobfmhh2cear6y"
   :dep/commit "0123456789abcdef0123456789abcdef01234567"
   :dep/manifest-cid "bafyreia4kejp3eqgyv3fbb6yrxkzemeqehopntqntvgkcq7maqltxrh57q"
   :dep/signers ["did:key:z6Mkpkgjson"]
   :dep/capabilities []}]}
