{:kotoba.package/name "kotoba-lang/bad"
 :kotoba.package/version "0.1.0"
 :kotoba.package/kind :plugin
 :kotoba.package/repo-rid "bafyreif5l3h6xp7jjfv3xsunpzj2ratccrocf6sacq7orbbbp7teg2dhoq"
 :kotoba.package/source
 {:git-commit "0123456789abcdef0123456789abcdef01234567"
  :tree-cid "bafyreif5vj7fhl3k76u37afj7czbny7vozowo4yq5rvxtc67kpz63zzbx4"
  :manifest-cid "bafyreib6mx6uiqefxsp6i4pgpizic3afh7aouapbb2zvpbm74ej4fc3md4"}
 :kotoba.package/capabilities []
 :kotoba.package/signatures
 [{:did "did:key:z6Mkbad"
   :alg :ed25519
   :sig "sig-bad"}]}
