{:registry [#:registry{:capabilities [], :name "acme/lib", :signers ["did:key:z6Mkacme"], :commit "8f14e45fceea167a5a36dedd4bea2543471f6a1f", :repo-rid "bafyreiho6mssyvojsh2yp7fjzoehhfwzwwdako5lnvyz2owmzb3267s6hm", :definition-cids ["bafyreiho6mssyvojsh2yp7fjzoehhfwzwwdako5lnvyz2owmzb3267s6hm" "bafyreiewl2qfij35g3byq4bozuz3p3qekxqp5pao3ftywhbhuu7xfoqiwu"], :version "1.0.0", :manifest-cid "bafyreiavgzqi4f5li6tit3qqxixqaiqrgn7v4djk4kczdbnup67bediviy", :tree-cid "bafyreiho6mssyvojsh2yp7fjzoehhfwzwwdako5lnvyz2owmzb3267s6hm"}], :request #:dep{:name "acme/lib", :version "1.0.0"}}
