{:kotoba.lang.type.conformance/version 1,
 :cases
 [{:id :positive-option-result-signature,
   :kind :accept,
   :type :signature,
   :file "positive/option_result_signature.edn"}
  {:id :negative-bare-nil-return,
   :kind :expect-error,
   :type :signature,
   :file "negative/bare_nil_return.edn",
   :problem :type/no-nil-return}]}
