{:kotoba.package/name "kotoba-lang/slides-office"
 :kotoba.package/version "0.1.0"
 :kotoba.package/kind :adapter
 :kotoba.package/repo-rid "bafyreifioprlpkodjtuiem3w7x3i4ordmgfb6lqqhb7ampigoatmwd2g2u"
 :kotoba.package/source
 {:git-commit "0123456789abcdef0123456789abcdef01234567"
  :tree-cid "bafyreiexhwzz2yskglefvifcywaijpy66ikn3grbvywrlcz5dxumdywfme"
  :manifest-cid "bafyreif4x7tu3gsgcbrdjm6qdfqzuo3av2jim2v443rsqpbocdyh3pogdy"}
 :kotoba.package/capabilities []
 :kotoba.package/provides [:app.kotoba.slides.officeImport
                           :wire.kotoba.slides.deck.json]
 :kotoba.package/consumes [:app.kotoba.slides.deck
                           :wire.kotoba.slides.deck.json
                           :app.kotoba.office.graph
                           :app.kotoba.officeStyle.styleIr]
 :kotoba.package/dependencies []
 :kotoba.package/signatures
 [{:did "did:key:z6MkkQH4hSs1RCvqAwvkM4utwm6Xic1ikfxFFVCzDxLvBprE"
   :alg :ed25519
   :sig "hqR+yi8oNj9zLBImTH26Qt+hqymaQmupfLNQwr1YCjfrfaoa9j+gmycbtKoA4c8gwjUGsvEUULm8rnDhztERBg=="}]}
