{:kotoba.package/name "kotoba-lang/slides-office"
 :kotoba.package/version "0.1.0"
 :kotoba.package/kind :adapter
 :kotoba.package/repo-rid "bafyreposlidesoffice111111111111111111111111111111111111111"
 :kotoba.package/source
 {:git-commit "0123456789abcdef0123456789abcdef01234567"
  :tree-cid "bafytreeslidesoffice111111111111111111111111111111111111111"
  :manifest-cid "bafymanifestslidesoffice11111111111111111111111111111111"}
 :kotoba.package/capabilities []
 :kotoba.package/provides [:app.kotoba.slides.officeImport
                           :wire.kotoba.slides.deck.transit]
 :kotoba.package/consumes [:app.kotoba.slides.deck
                           :wire.kotoba.slides.deck.transit
                           :app.kotoba.office.graph
                           :app.kotoba.officeStyle.styleIr]
 :kotoba.package/dependencies []
 :kotoba.package/signatures
 [{:did "did:key:z6Mkslidesoffice"
   :alg :ed25519
   :sig "sig-slides-office"}]}
