{:kotoba.lock/version 1
 :deps
 [{:dep/name "kotoba-lang/slides-office"
   :dep/version "0.1.0"
   :dep/kind :adapter
   :dep/repo-rid "bafyreposlidesoffice111111111111111111111111111111111111111"
   :dep/commit "0123456789abcdef0123456789abcdef01234567"
   :dep/tree-cid "bafytreeslidesoffice111111111111111111111111111111111111111"
   :dep/manifest-cid "bafymanifestslidesoffice11111111111111111111111111111111"
   :dep/signers ["did:key:z6Mkslidesoffice"]
   :dep/capabilities []
   :dep/provides [:app.kotoba.slides.officeImport
                  :wire.kotoba.slides.deck.transit]
   :dep/consumes [:app.kotoba.slides.deck
                  :wire.kotoba.slides.deck.transit
                  :app.kotoba.office.graph
                  :app.kotoba.officeStyle.styleIr]}
  {:dep/name "app.kotoba.officeStyle.styleIr"
   :dep/version "0.1.0"
   :dep/kind :schema-contract
   :dep/repo-rid "bafyrepoofficestylecontract111111111111111111111111111111"
   :dep/commit "0123456789abcdef0123456789abcdef01234567"
   :dep/tree-cid "bafytreeofficestylecontract111111111111111111111111111111"
   :dep/manifest-cid "bafymanifestofficestylecontract1111111111111111111111"
   :dep/signers ["did:key:z6Mkstylecontract"]
   :dep/capabilities []
   :dep/provides [:app.kotoba.officeStyle.styleIr]
   :dep/consumes []}]}
