{:kotoba.lock/version 1
 :deps
 [{:dep/name "kotoba-lang/slides-office"
   :dep/version "0.1.0"
   :dep/kind :adapter
   :dep/repo-rid "bafyreifioprlpkodjtuiem3w7x3i4ordmgfb6lqqhb7ampigoatmwd2g2u"
   :dep/commit "0123456789abcdef0123456789abcdef01234567"
   :dep/tree-cid "bafyreiexhwzz2yskglefvifcywaijpy66ikn3grbvywrlcz5dxumdywfme"
   :dep/manifest-cid "bafyreif4x7tu3gsgcbrdjm6qdfqzuo3av2jim2v443rsqpbocdyh3pogdy"
   :dep/signers ["did:key:z6Mkslidesoffice"]
   :dep/capabilities []
   :dep/provides [:app.kotoba.slides.officeImport
                  :wire.kotoba.slides.deck.json]
   :dep/consumes [:app.kotoba.slides.deck
                  :wire.kotoba.slides.deck.json
                  :app.kotoba.office.graph
                  :app.kotoba.officeStyle.styleIr]}
  {:dep/name "app.kotoba.officeStyle.styleIr"
   :dep/version "0.1.0"
   :dep/kind :schema-contract
   :dep/repo-rid "bafyreiaaa54guszospcskrdi5k6ba4bp66t4nefkxj5kx3sa4de2z2cabm"
   :dep/commit "0123456789abcdef0123456789abcdef01234567"
   :dep/tree-cid "bafyreidv44y5x3fg523fvfwb6o4etea6y34akysbn5zgdw7uom2ohakl7e"
   :dep/manifest-cid "bafyreigrxnvdral374yozn4tgo4yjtn24ffp2ea4hugwoml76vhmnv2fwa"
   :dep/signers ["did:key:z6Mkstylecontract"]
   :dep/capabilities []
   :dep/provides [:app.kotoba.officeStyle.styleIr]
   :dep/consumes []}]}
