{:kotoba.package/name "kotoba-lang/json"
 :kotoba.package/version "0.1.0"
 :kotoba.package/repo-rid "bafyreiamqmkpfhh5noifwsn2jgnavzwpgmefv7orc6frbobfmhh2cear6y"
 :kotoba.package/source
 {:git-commit "0123456789abcdef0123456789abcdef01234567"
  :tree-cid "bafyreigyygk6epd5ge2akwuafpdjmztjc27v5pr7wpqnq37re7xhjwxsl4"
  :manifest-cid "bafyreia4kejp3eqgyv3fbb6yrxkzemeqehopntqntvgkcq7maqltxrh57q"}
 :kotoba.package/build
 {:deterministic true
  :profile-version 1
  :component-cid "bafyreigmuhhylg4ez6rodkji3vnaiizhcn2l7ok3jvgxvp5zyvrm7o5o5q"}
 :kotoba.package/capabilities [:graph-read]
 :kotoba.package/dependencies []
 :kotoba.package/signatures
 [{:did "did:key:z6Mkpkgjson"
   :alg :ed25519
   :sig "sig-json"}]}
