{:kotoba.package/name "app.kotoba.officeStyle.styleIr"
 :kotoba.package/version "0.1.0"
 :kotoba.package/kind :schema-contract
 :kotoba.package/repo-rid "bafyrepoofficestylecontract111111111111111111111111111111"
 :kotoba.package/source
 {:git-commit "0123456789abcdef0123456789abcdef01234567"
  :tree-cid "bafytreeofficestylecontract111111111111111111111111111111"
  :manifest-cid "bafymanifestofficestylecontract1111111111111111111111"}
 :kotoba.package/capabilities []
 :kotoba.package/provides [:app.kotoba.officeStyle.styleIr]
 :kotoba.package/consumes []
 :kotoba.package/dependencies []
 :kotoba.package/signatures
 [{:did "did:key:z6Mkstylecontract"
   :alg :ed25519
   :sig "sig-style-contract"}]}
