{:kotoba.package/name "app.kotoba.officeStyle.styleIr"
 :kotoba.package/version "0.1.0"
 :kotoba.package/kind :schema-contract
 :kotoba.package/repo-rid "bafyreiaaa54guszospcskrdi5k6ba4bp66t4nefkxj5kx3sa4de2z2cabm"
 :kotoba.package/source
 {:git-commit "0123456789abcdef0123456789abcdef01234567"
  :tree-cid "bafyreidv44y5x3fg523fvfwb6o4etea6y34akysbn5zgdw7uom2ohakl7e"
  :manifest-cid "bafyreigrxnvdral374yozn4tgo4yjtn24ffp2ea4hugwoml76vhmnv2fwa"}
 :kotoba.package/capabilities []
 :kotoba.package/provides [:app.kotoba.officeStyle.styleIr]
 :kotoba.package/consumes []
 :kotoba.package/dependencies []
 :kotoba.package/signatures
 [{:did "did:key:z6Mkstylecontract"
   :alg :ed25519
   :sig "sig-style-contract"}]}
