{:kotoba.registry/version 1
 :records
 [{:registry/name "kotoba-lang/json"
   :registry/version "0.1.0"
   :registry/repo-rid "bafyreic6qxprbpcffqfxcsch6betglxeipy7o46ylum3fss6gizt3vxjoy"
   :registry/ref "refs/tags/v0.1.0"
   :registry/commit "0123456789abcdef0123456789abcdef01234567"
   :registry/tree-cid "bafkreicjlihajri6k5g4n66xvq3xsffb45qddog7q2wpolck5kddammoey"
   :registry/manifest-cid "bafyreihimm4ay6fhbteh7eob6lgqez762bsr6nkw2req67h3kqm6dfuioe"
   :registry/signers ["did:key:z6Mkpkgjson"]
   :registry/capabilities [:graph-read]
   :registry/kind :library
   :registry/record-cid "bafyreihzltlaiymd7xp3hmlvzenou64cudqms2yj3xo44uu6tvif7ouqou"}]}
