{:lock {:kotoba.lock/version 1, :deps [#:dep{:name "acme/lib", :definition-cids ["bafyreiewl2qfij35g3byq4bozuz3p3qekxqp5pao3ftywhbhuu7xfoqiwu"]}]}, :resolved [{:dep/name "acme/lib", :definition #:definition{:profile-version 4, :desugar-contract-version 1, :kir {:op :const, :value 99}, :effect-row #{}, :interface {:arity 0, :result :i64}, :dependencies []}, :definition-cid "bafyreiewl2qfij35g3byq4bozuz3p3qekxqp5pao3ftywhbhuu7xfoqiwu"}]}
