{:lock {:kotoba.lock/version 1, :deps [#:dep{:name "acme/lib", :definition-cids ["bafyreiarrzdga4uwvk6miw6rdndih4z56xgtd4qz25tb3gxld7toolyaiu"]}]}, :resolved [{:dep/name "acme/lib", :definition #:definition{:profile-version 4, :desugar-contract-version 2, :kir {:op :const, :value 1}, :effect-row #{}, :interface {:arity 0, :result :i64}, :dependencies []}, :definition-cid "bafyreiarrzdga4uwvk6miw6rdndih4z56xgtd4qz25tb3gxld7toolyaiu"}]}
