{:registry [#:registry{:capabilities [], :name "acme/lib", :signers ["did:key:z6Mkacme"], :commit "8f14e45fceea167a5a36dedd4bea2543471f6a1f", :repo-rid "bafyreihzlbfbvi3w24l3n6ofovirnqvyj74zkwtld6pqaor2qg4zk26wgi", :definition-cids ["not-a-cid"], :version "1.0.0", :manifest-cid "bafyreib4oafkwcwsvzyxjysuwmsb2zigmiece4pihcwzoekssg4fk34cha", :tree-cid "bafyreihzlbfbvi3w24l3n6ofovirnqvyj74zkwtld6pqaor2qg4zk26wgi"}], :request #:dep{:name "acme/lib", :version "1.0.0"}}
