{:call :kotoba.host/clipboard-read
 :requested {:cap/kind :host/clipboard-read
             :cap/resource :any
             :cap/expires nil
             :cap/provenance []}
 :cacao-grants [{:grant/kind :host/clipboard-read
                 :grant/resources #{"clipboard:system"}
                 :grant/expires "2027-01-01"
                 :grant/id "policy:clipboard/text"}]
 :local-policy {:policy/allow {:host/clipboard-read #{"clipboard:system"}}}
 :now "2026-07-02"}
