{:requested
 {:cap/kind :graph-read
  :cap/resource :any
  :cap/holder "did:key:z6Mkcapholdera"
  :cap/expires nil
  :cap/provenance []}
 :cacao-grants
 [{:grant/kind :graph-read
   :grant/resources #{:any}
   :grant/expires nil
   :grant/id "cacao-grant-root"}]
 :local-policy
 {:policy/allow {:graph-read #{:any}}}
 :now "2026-07-02"}
