{:kotoba.lock/version 1
 :deps
 [{:dep/name "kotoba-lang/json"
   :dep/version "0.1.0"
   :dep/repo-rid "bafy...repo"
   :dep/ref "refs/tags/v0.1.0"
   :dep/commit "git-oid..."
   :dep/tree-cid "bafy...tree"
   :dep/manifest-cid "bafy...manifest"
   :dep/signers ["did:key:..."]
   :dep/capabilities []
   :dep/build {:deterministic true
               :component-cid "bafy...component"}}]}
