[{:db/id -1, :kotoba.lock/version 1, :kotoba.lock/deps "[#:dep{:signers [\"did:key:...\"], :build {:deterministic true, :component-cid \"bafy...component\"}, :commit \"git-oid...\", :version \"0.1.0\", :repo-rid \"bafy...repo\", :manifest-cid \"bafy...manifest\", :tree-cid \"bafy...tree\", :ref \"refs/tags/v0.1.0\", :capabilities [], :name \"kotoba-lang/json\"}]"}]