{:kotoba.package/name "kotoba-lang/json"
 :kotoba.package/version "0.1.0"
 :kotoba.package/repo-rid "bafy...repo"
 :kotoba.package/source
 {:git-commit "git-oid..."
  :tree-cid "bafy...tree"
  :manifest-cid "bafy...manifest"}
 :kotoba.package/build
 {:deterministic true
  :profile-version 1
  :component-cid "bafy...component"}
 :kotoba.package/capabilities []
 :kotoba.package/dependencies []
 :kotoba.package/signatures
 [{:did "did:key:..."
   :alg :ed25519
   :sig "..."}]}
