[{:kotoba.package/version "0.1.0", :kotoba.package/dependencies [], :kotoba.package/build "{:deterministic true, :profile-version 1, :component-cid \"bafy...component\"}", :kotoba.package/signatures "[{:did \"did:key:...\", :alg :ed25519, :sig \"...\"}]", :kotoba.package/capabilities [], :kotoba.package/repo-rid "bafy...repo", :kotoba.package/name "kotoba-lang/json", :db/id -1, :kotoba.package/source "{:git-commit \"git-oid...\", :tree-cid \"bafy...tree\", :manifest-cid \"bafy...manifest\"}"}]