{:kotoba.lang.release-trust/version 1
 :authority "kotoba-lang/kotoba-lang"
 :as-of "2026-08-11"
 :signers
 {"did:key:z6MkgtjFR4xwQtb4ZqGg5N8NCpT8fNd4HfjznLamf9oZhmRs"
  {:status :active
   :purpose #{:language-release :implementation-release}
   :valid-from "2026-08-11"}}}
