{:call :kotoba.host/http
 :requested {:cap/kind :host/http
             :cap/resource "https://example.com"
             :cap/expires nil
             :cap/provenance []}
 :cacao-grants [{:grant/kind :host/http
                 :grant/resources #{"https://example.com"}
                 :grant/expires "2026-01-01"
                 :grant/id "policy:http/fetch"}]
 :local-policy {:policy/allow {:host/http #{"https://example.com"}}}
 :now "2026-07-02"}
