{:requested
 {:cap/kind :teleport
  :cap/resource :any
  :cap/expires nil
  :cap/provenance []}
 :cacao-grants
 [{:grant/kind :teleport
   :grant/resources #{:any}
   :grant/expires nil
   :grant/id "cacao-grant-x"}]
 :local-policy
 {:policy/allow {:teleport #{:any}}}
 :now "2026-07-02"}
